<div id="primary" class="content-area" style="overflow-x: hidden; overflow-y: hidden;">
	<main id="main" class="site-main">
		<div id="foresight-presentation-section" class="container-fluid p-0 position-relative">
			{% include './view/home-page/foresight-presentation.twig' %}
		</div>
		<div id="what-foresight-section" class="container-fluid p-0 position-relative">
			{% include './view/home-page/what-foresight.twig' %}
		</div>
		<div id="foresight-contributions-section" class="container-fluid position-relative">
			{% include './view/home-page/foresight-contributions.twig' %}
		</div>
		<div id="foresight-recent-publications" class="container-fluid position-relative">
			{% include './view/home-page/foresight-cards.twig' %}
		</div>
		<div id="foresight-members-section" class="container-fluid p-0 position-relative">
			{% include './view/home-page/foresight-members.twig' %}
		</div>
		<div id="foresight-participation-section" class="container-fluid position-relative">
			{% include './view/home-page/foresight-participation.twig' %}
		</div>
		<div id="foresight-partners-section" class="container-fluid p-0 position-relative">
			{% include './view/home-page/foresight-partners.twig' %}
		</div>
		<div id="foresight-contact-us" class="container-fluid p-0 position-relative">
			{% include './view/home-page/foresight-contact-us.twig' %}
		</div>
	</main><!-- #main -->
</div><!-- #primary -->




