<footer id="footer">
	<div class="container">
		<div class="copyright">
			© 2020 For more information, please contact <strong><a href="mailto: S.Prager@CGIAR.ORG">Steve Prager</a></strong>.
		</div>
	</div>
</footer>
