<section id="main-content" class="main row align-items-center">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-12">
				<h2>FORESIGHT</h2>
				<h3>COMING SOON</h3>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 row justify-content-end">
				<img src="{{ theme.link }}/static/images/alliance-logo-white.svg" alt="">
			</div>
			<div class="col-sm-6 row justify-content-start">
				<img src="{{ theme.link }}/static/images/ifpri-logo-white.png" alt="">
			</div>
		</div>
	</div>
</section>
