<div class="theme-header-scroll"></div>
<section id="foresight-presentation" class="foresight-presentation-section">
	<div class="container-fluid p-0 position-relative foresight-background-picture" style="background: url( {{ function('customize_theme_mod', 'foresight_presentation_image' ) }} ) center no-repeat;">
		<div class="container foresight-container">
			<div class="row">
				<div class="col-md-12 foresight-general-title-content">
					<h1 id="foresight-presentation-title" class="foresight-presentation-title">
						{{ function('customize_theme_mod', 'foresight_presentation_title' ) }}
					</h1>
					<hr>
					<h4 id="foresight-presentation-info" class="foresight-presentation-info">
						{{ function('customize_theme_mod', 'foresight_presentation_info' ) }}
					</h4>
				</div>
			</div>
			<div class="foresight-content-social">
				{{ function('ciat_foresight_social_icons') }}
			</div>
		</div>
	</div>
</section>
