<section id="foresight-contributions">
	<div class="container container-foresight-contributions">
		<div class="row">
			<div class="col-md-6 content-image-foresight-contributions">
				<img src="{{ foresight_contributions_page.thumbnail.src }}" alt="{{ foresight_what_page.post_title }}">
			</div>
			<div class="col-md-6 content-foresight-contributions">
				<h2 id="foresight-contributions-title" class="foresight-contributions-title">
					{{ foresight_contributions_page.post_title }}
				</h2>
				<hr class="foresight-contributions-hr">
				{{ foresight_contributions_page.post_content }}
			</div>
		</div>
	</div>
</section>
